<% @places.each do |place| %>
  <div class="nice-box col-xs-10 col-xs-offset-1">
    <h1><%= place.name %></h1>
    <p><%= place.description %></p><br/><br/>
    <p><%= place.address %></p><br/>
  </div>
<% end %>
<%= will_paginate @posts %>
