<div class="nice-box col-xs-10 col-xs-offset-1">
  <h1><%= @place.name %></h1>
  <p><%= @place.description %><p/><br/>
  <p><%= @place.address %></p>
  <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary'%>
</div>
